extends layout

block content
  main.index
        section.indexMain
            .container
                .row
                    .col-sm-6
                        .unititem
                            h2.unititem__title.red Resort Style Cottage Getaway
                            img(src="/img/red-door.jpg" class="img-responsive")
                            div.unititem__address Balboa Avenue <br>San Diego, CA 92109
                            a.btn.btn-red.unititem__btn(href="https://www.airbnb.com/rooms/18646695" target="reddoor" ) Book Now on AirBnB

                    .col-sm-6
                        .unititem
                            h2.unititem__title.blue Resort Style Cottage
                            img(src="/img/blue-door.jpg" class="img-responsive")
                            div.unititem__address Balboa Avenue <br>San Diego, CA 92109
                            a.btn.btn-blue.unititem__btn(href="https://www.airbnb.com/rooms/19663998" target="bluedoor" ) Book Now on AirBnB


                .row
                    .col-sm-10.col-sm-offset-1
                        p.indexMain__desc These pristine 1 bed 1 bath resort-style cottages are located in the heart of Pacific Beach, San Diego. The two cottages are identical (except for the color of the door) and are available to rent seperatly or together.  Each cottage accommodates up to 4 guests. A comfortable QUEEN size bed adorns the bedroom and a futon (size: FULL) is in the living room. Cottage accommodates 4 if FULL size futon is agreeable. The cottages also feature a full kitchen and private backyard.



                        //- p.indexMain__desc These pristine 1 bed 1 bath resort-style cottages are located in the heart of Pacific Beach, San Diego. The two cottages are identical (except for the color of the door) and are available to rent separately or together.
                        //-  p.indexMain__desc Each cottage accommodates up to 4 guests, with a comfortable queen size bed adorning the bedroom and a futon in the living room. They also feature a full kitchen and private backyard.
                        //-   p.indexMain__desc Amenities include wifi, a washer and dryer, two smart TVs, a bluetooth speaker, and much more. The cottages are a short 1.5 mile walk away from the beach, and the rental includes bikes along with boogie boards, towels, and other beach necessities.

        section.indexFeatures
            .container
                .sectionHeading <span>C</span>ottage <span>F</span>eatures

                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Private Courtyard
                        .col-sm-5
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/courtyard-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/courtyard-5.jpg" class="img-responsive")

                        .col-sm-7
                            ul.featuresItem__list
                                li
                                    strong Keyless entry
                                    em No need for keys here. Just remember your code.

                                li
                                    strong Outdoor furniture
                                    em Relax in the sun or shade on comfortable outdoor furniture

                                li
                                    strong Outdoor shower
                                    em Rinse the sand off after a day at the beach

                                li
                                    strong Herb garden
                                    em Pick from a variety of herbs in our herb garden

                                li
                                    strong Toy Box
                                    em Filled with everything you could need for a fun packed day in Pacific Beach: Beach cruisers, boogie boards, beach towels, coolers, beach chairs, etc.

                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Bedroom
                        .col-sm-5
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/bedroom-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bedroom-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bedroom-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bedroom-5.jpg" class="img-responsive")

                        .col-sm-7
                            ul.featuresItem__list
                                li
                                    strong Queen bed
                                    em Enjoy a good night’s sleep on a comfortable queen bed which include sheets, pillows, duvet with cover, extra blanket.

                                li
                                    strong 32" Smart TV
                                    em TV has built-in internet connectivity. Includes wireless internet, cable TV

                                li
                                    strong Convenient Stackable washer/dryer
                                    em 3.2 cu. ft. capacity washer and 5.9 cu. ft. capacity dryer. Complimentary detergent provided
                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Bathroom
                        .col-sm-5
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/bathroom-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bathroom-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bathroom-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/bathroom-4.jpg" class="img-responsive")


                        .col-sm-7
                            ul.featuresItem__list
                                li
                                    strong Shower / Toilet / Vessel Sink
                                    em Enjoy a hot shower after a long day at the beach.
                                li
                                    strong Washcloths, hand towels and bath towels provided.
                                li
                                    strong Complimentary toiletries included.
                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Living Room
                        .col-sm-5
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/living-room-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/living-room-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/living-room-3.jpg" class="img-responsive")

                        .col-sm-7
                            ul.featuresItem__list
                                li
                                    strong Futon
                                    em Full size sleeper includes sheets, pillows and blanket
                                li
                                    strong 50” Smart TV
                                    em TV has built-in internet connectivity. Includes wireless internet and cable TV
                                li
                                    strong Portable Bluetooth Speaker
                                    em Simply connect via bluetooth and enjoy your music everywhere! We ask you DO NOT remove the speaker from the premises. A CD AM/FM boom box is also available.
                                li
                                    strong Ceiling fans, air conditioning and heater
                                    em Electricity is very expensive in California and therefore, we ask that you turn the A/C off when you leave the cottage. Close all doors and windows before operating the A/C unit.
                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Kitchen
                        .col-sm-5
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/kitchen-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-3.jpg" class="img-responsive")
                                //- .item
                                //-     img(src="/img/features-items/kitchen-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-5.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-6.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/kitchen-7.jpg" class="img-responsive")


                        .col-sm-7
                            ul.featuresItem__list
                                li
                                    strong Fully equipped kitchen includes:
                                    em Ice maker refrigerator/freezer, dishwasher, stove, microwave, silverware, dishware, cookware, basic cooking utensils and small appliances.
                                li
                                    strong Complimentary coffee, teas and condiments provided.
                                    em Guests are encouraged to leave unused non-perishable food items in the pantry for other guest to enjoy (spices, etc.)
                                li
                                    strong Basic cleaning supplies provided.
                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Private Backyard
                        .col-sm-5
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/backyard-1.jpg" class="img-responsive")
                                //- .item
                                //-     img(src="/img/features-items/backyard-2.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-3.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-4.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-5.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/backyard-6.jpg" class="img-responsive")

                        .col-sm-7
                            ul.featuresItem__list
                                li
                                    strong Outdoor seating
                                li
                                    strong Propane BBQ
                                li
                                    strong Propane fire pit




                .featuresItem
                    .row
                        .col-sm-12
                            h3.featuresItem__title Extra Features
                        .col-sm-5
                            .owl-carousel.owl-theme
                                .item
                                    img(src="/img/features-items/extra-1.jpg" class="img-responsive")
                                .item
                                    img(src="/img/features-items/extra-2.jpg" class="img-responsive")

                        .col-sm-7
                            ul.featuresItem__list
                                li
                                    strong Local restaurant menu binder
                                li
                                    strong Books, board games, playing cards
                                li
                                    strong Friendship Gate - Special Feature!
                                    em In the courtyard, you will notice a gate in the fence that separates the Cottages. It is a Friendship Gate. It might be the sweet sound of music, or the delectable smell of sizzling steaks on the grill that starts the conversation over the fence. Feel free to ‘Open The Gate’.<br> Remember the Friendship Gate can only be opened if both sides are in agreement (there’s a latch on both sides). <br>Or maybe you are here to enjoy a little quiet relaxation, in which case keep the gate locked and enjoy!


        section.indexAbout
            .container
                .sectionHeading <span>A</span>bout the <span>C</span>ottage
                .row
                    .col-sm-8
                        .indexAbout__desc
                            p This <strong>1 bed 1 bath</strong> pristine cottage, offers resort style accommodations for <strong>1-4 guests</strong> (i.e. 2 adults/2 kids) in the heart of <strong>Pacific Beach in San Diego</strong>. A comfortable QUEEN size bed adorns the bedroom and a futon (size: FULL) is in the living room. The cottage accommodates four people if the FULL size futon is agreeable.
                            p Features include:
                            p A comfortable <strong>queen bed</strong> adorns the bedroom and a full size  <strong>futon</strong> is in the living room. The <strong>modern kitchen</strong> includes: dishwasher, garbage disposal, refrigerator/freezer with ice maker, microwave, range, dishes, pots, pans and cutlery.
                            p A stackable <strong>washer/dryer</strong> is provided with complimentary detergents. The luxurious bathroom has a shower stall, toilet and vessel sink. Complimentary toiletries are included. Towels and sheets are provided. The <strong>private back yard</strong> hosts a propane grill, as well as an outdoor propane fire pit for cooler evenings.
                            p Guests can enjoy cable TV on either of the two <strong>smart TVs</strong>. Internet service is included. A portable <strong>bluetooth speaker</strong> is provided for your indoor/outdoor enjoyment. The speaker is not to be  removed from the premises.
                            p The outdoor ‘ToyBox’ is located in the private courtyard and provides guests with all the ‘toys’ for a fun day in Pacific Beach; <strong>beach cruisers</strong> and locks, <strong>boogie boards</strong>, beach towels, coolers and <strong>beach chairs</strong>.
                    .col-sm-4
                        ul.indexAbout__list
                            li <strong>Perfect for 1-4 persons:</strong>
                            li Couples
                            li Couple with young child
                            li Weekenders
                            li Getaways/Staycation
                            li Overflow house guests
                            li Adventurers
                            li Wedding guests
                            li Corporate living & Traveling Nurses


        section.indexHood
            .container
                .sectionHeading <span>A</span>bout the <span>N</span>eighborhood
                ul.indexHood__photos
                    li
                        img(class="indexHood__img img-responsive" src="/img/pb-neighborhood-1.jpg")
                    li
                        img(class="indexHood__img img-responsive" src="/img/pb-neighborhood-4.jpg")
                    li
                        img(class="indexHood__img img-responsive" src="/img/pb-neighborhood-3.jpg")
                    .row
                        .col-sm-8.col-sm-offset-2
                            .indexHood__desc
                                p Exit through the private backyard gate onto Hornblend Street, turn left, take a short ride (or walk) and you will enter the ‘Village’ and discover the ‘Best of Pacific Beach.’ <strong>Garnet Avenue</strong> has everything you could ask for: restaurants, bars, shops, hair/nail salons, grocery stores, you name it, Garnet Avenue has it all! Continue west on Garnet Ave and voila! ‘Door to Shore’ (1.5 miles) in minutes. You are at <strong>the beach</strong>. Enjoy!

                                p And if that isn’t enough, take an 11 min ride to the <strong>rollercoaster at Belmont Park</strong>, a 17 min ride and enjoy <strong>Mission Bay</strong>, hang with ocean mammals after just a 9 min drive to <strong>SeaWorld</strong>, or 12 mins takes you to the world class <strong>San Diego Zoo</strong> and in just 38 mins you could be in <strong>Tijuana, Mexico</strong> (remember your passport).


        section.indexRules
            .container
                .sectionHeading <span>C</span>ottage <span>R</span>ules, <span>C</span>heck-in <span>I</span>nstructions <br>& <span>D</span>eparture <span>C</span>hecklist

                .row
                    .col-sm-8.col-sm-offset-2
                        .indexRules__desc
                            p Cottage Rules are provided to ensure that Guests and Visitors know and comply with the specific rules governing their permission to enter and occupy the Cottage.
                    .col-sm-12
                        a(class="indexRules__link" href="/pdf/rules.pdf" target="rules") <span>Click Here to View</span> Cottage <br>Rules

                        a(class="indexRules__link" href="/pdf/check-in-instructions.pdf" target="check-in") <span>Click Here to View</span> Check-in Instructions

                        a(class="indexRules__link"  href="/pdf/departure-checklist.pdf" target="departure") <span>Click Here to View</span> Departure Checklist

        .container
            .row
                .col-sm-6
                    section.indexLongterm
                        .indexLongterm__title <span>Also Available For:</span> Long-Term Rentals
                        .indexLongterm__desc
                            div
                                p The Cottages are also available for long-term rentals.
                                p Please contact us directly for long-term rental inquiries.

                        a(class="indexLongterm__link" href="mailto:pbcorporateliving@gmail.com") pbcorporateliving@gmail.com
                .col-sm-6
                    section.indexCharity
                        .indexCharity__title <span>Also Available For:</span> Fundraising

                        .indexCharity__desc
                            div
                                p We all hear of people or groups in the community facing difficult times and desperately trying to raise needed funds. Unfortunately as much as we would like, we realize we are unable to give to every cause.
                                p We have developed a unique way to help non-profit organizations and causes raise those needed funds.
                        a(class="indexCharity__link" href="/fundraising.html") Click Here to Learn More

        section.indexOutro
            .container
                .sectionHeading <span>W</span>e <span>L</span>ook <span>F</span>orward to <span>H</span>osting <span>Y</span>ou!

                .row
                    .col-sm-6
                        a.unititem(href="https://www.airbnb.com/rooms/18646695" target="reddoor")
                            .btn.btn-red.unititem__btn Book Now on AirBnB
                            .unititem__imgWrapper
                                img(src="/img/red-door.jpg" class="img-responsive")
                            h2.unititem__title.red Resort Style Cottage Getaway
                            div.unititem__address Balboa Avenue <br>San Diego, CA 92109


                    .col-sm-6
                        a.unititem(href="https://www.airbnb.com/rooms/19663998" target="bluedoor" )
                            .btn.btn-blue.unititem__btn Book Now on AirBnB
                            .unititem__imgWrapper
                                img(src="/img/blue-door.jpg" class="img-responsive")
                            h2.unititem__title.blue Resort Style Cottage
                            div.unititem__address Balboa Avenue <br>San Diego, CA 92109


                            //- a.btn.btn-blue.unititem__btn(href="https://www.airbnb.com/rooms/19663998" target="bluedoor" ) Book Now on AirBnB

                            //- a.btn.btn-red.unititem__btn(href="https://www.airbnb.com/rooms/18646695" target="reddoor" ) Book Now on AirBnB
                    .col-sm-12
                        p Please feel free to contact us with any questions.
                        p
                            a(class="indexOutro__link" href="mailto:pacificbeachvacations@gmail.com") pacificbeachvacations@gmail.com

                    .col-sm-12
                        div.footer__sealPbtc
                            img(src="/img/pbtc-logo.png" class="")
                            span Pacific Beach<br> Town Council Member
                        div.footer__sealSuperhost
                            div(class="airbnb-embed-frame"
                                data-user-id="118282318"
                                data-view="superhost_button"
                                data-city="San Diego"
                                data-city-url="https://www.airbnb.com/s/San-Diego--CA"
                                data-eb="1485311224_FRRVyEWZ/e4PLXcM"
                                data-eu="f2O0oKn1HkvisHbn0LJOvRthix1gqJrQT9j4MhZ3g84pyRkmS8bBxwmrCXjGMWlLgrRjgPqhTARXsD/b5JewZL1RTAB0p6/VXEP0kjeasalmcJj3SudCYj/H Dcrj4DzaB1zjncwDN9FQrgf8suRtUBnkU1DjgNodSL5uZHNo1+K6CFRye5yft9KH9L/vCDL2G/63X9KtFEz7wdknmkV5P7RG3iicpIwV42QgGHWOh8oVGY1RSr7/c2b+RbUQ763WVPfVxHEP5B1NPYvIEw4zxhrxDb21xSJJhYV94B1DyPoYXFK8KdPXl+NiNbYdAN5NEsxjRgAPdR5qIFDh55tq6Q=="
                                data-trigger-source-type="badge_center"
                                data-embed-source-type="badge_center"
                                style="margin:auto;height:85px;")
                                    a(href="https://www.airbnb.com/users/show/118282318" rel="nofollow") Superhost
                                        div in San Diego
                                    <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
                        div.footer__sealReviews
                            <div class="airbnb-embed-frame" data-user-id="118282318" data-review-count="34" data-view="review_button" data-eb="1485311224_FRRVyEWZ/e4PLXcM" data-eu="f2O0oKn1HkvisHbn0LJOvRthix1gqJrQT9j4MhZ3g84pyRkmS8bBxwmrCXjG MWlLgrRjgPqhTARXsD/b5JewZL1RTAB0p6/VXEP0kjeasalmcJj3SudCYj/H Dcrj4DzaB1zjncwDN9FQrgf8suRtUBnkU1DjgNodSL5uZHNo1+K6CFRye5yf t9KH9L/vCDL2G/63X9KtFEz7wdknmkV5P7RG3iicpIwV42QgGHWOh8oVGY1R Sr7/c2b+RbUQ763WVPfVxHEP5B1NPYvIEw4zxhrxDb21xSJJhYV94B1DyPoY XFK8KdPXl+NiNbYdAN5NEsxjRgAPdR5qIFDh55tq6Q== " data-trigger-source-type="badge_center" data-embed-source-type="badge_center" style="height:80px;margin:auto;"><a href="https://www.airbnb.com/users/show/118282318"><span>Reviews</span></a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div>


    .modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")&times;
                    h2(class="modal-title") Cottage Rules
                .modal-body
                    p Rules are provided to ensure that Guests and Visitors know and comply with the specific rules governing their permission to enter and occupy the Cottage.
                    ul
                        li Smoking is NOT allowed INSIDE the Cottage. Smoking is allowed outside ONLY.
                        li People other than those in the Guest party, set forth in the rental agreement may not stay overnight in the property. Any other person in the property is the sole responsibility of Guest. Guests are not allowed to exceed the occupancy limit agreed in the rental agreement.
                        li Guests should not create excessive noise at a level that disturbs neighbors; Code-enforced neighborhood quiet hours are from 10:00p.m. – 8:00a.m. Sound that is audible beyond the property boundaries during non-quiet hours shall not be more excessive than would typically be associated with a residential area. Amplified sound that is audible beyond the property boundaries is prohibited. Guests and Visitors must not engage in anti social behavior and must minimize their impact upon the residential amenity of neighbors and local community. There shall be no parties or group gatherings.
                        li This Cottage is privately owned; the owners are NOT responsible for any accidents, injuries or illness that occurs while on the premises or its facilities. The Homeowners are not responsible for the loss of personal belongings or valuables of the Guest. By accepting the rental agreement, it is agreed that all guests are expressly assuming the risk of any harm arising from their use of the premises or others whom they invite to use the premise.
                        li Please keep the property and all furnishings in good order. Please do not move our furniture in or outside the house. All Damages and breakages must be reported immediately 858 386 4155
                        li Please do not remove linens and towels from the premises as missing items will incur additional fees
                        li The portable Bluetooth speaker is provided for your enjoyment inside the Cottage, in the courtyard and back yard ONLY. The speaker is not to be removed from the premises. A lost OR damaged speaker fee is $150.00

                        li Whenever you are absent from the Property, close all windows and doors to maintain security. When you are not in the house, please turn off all lights, fans, AC and/or heating in an effort to conserve energy
                        li As an added safety feature, whenever possible please keep the courtyard gate closed when you are present.
                        li  Only use appliances for their intended uses
                        li Housekeeping: There is no daily housekeeping service. While linens and bath towels are included in the rental, daily maid service is not included in the rental rate. We do not permit towels or linens to be taken from the cottage.
                        li Garbage: Any garbage must be placed in the proper garbage or recycling receptacle, located at the rear of the property.
                        li Outdoor Fireplace: Please do not throw any trash or materials other than wood and kindling into the fire.
                        li When using the BBQ do not leave it unattended. Please clean the grill after each use.

                .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close


















